/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
	background-color: #162831;
	color: white;
}

a{
	color: white;
}

.content {
	width: 1296px;
	margin: 0 auto;
}
.header {
	margin: 0 0 150px 0;
	
}
.header-top {
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 135%;
}
.header-top__logo {
	padding: 25px 0;
}
.header__menu {
	text-align: center;
}
.menu__list {
	display: flex;
	padding: 50px 0;
}
.menu__list li a{
	margin: 0 25px;
}
.header-top__record {
	margin: 42px 0 0 0;
}
.header-top__record a{
	display: block;
	background-color: #018ABE;
	height: 37px;
	padding: 9px 20px;
	border-radius: 5px;
}

.header-bottom {
}

.header-bottom__img {
	position: relative;
}
.title {
	position: absolute;
	text-align: center;
	top: 24%;
	font-family: 'El Messiri', sans-serif;
	font-weight: bold;
	padding: 0 350px;
	

	
}
.ad-title {
	font-size: 24px;
	margin: 0 0 45px 0;
}

.ad-title:before {
	content: url('../img/points/LeftRectangle\ 3.png');
	margin: 0 65px 0 0;

}	

.ad-title:after {
	content: url('../img/points/RightRectangle\ 5.png');
	margin: 0 0 0 65px;
}

.main-title {
	font-size: 64px;
	width: 600px;
	word-wrap: break-word;
	line-height: 140%;
}

.main {
	font-family: 'El Messiri', sans-serif;
}
.offer {
}
.offer__title {
	margin: 0 0 100px 0;
	text-align: center;
	font-weight: 700;
	font-size: 42px;
	line-height: 140%;
}
.offer__title::before{
	content: url('../img/points/Rectangle\ 6left.png');
	position: relative;
	margin: 0 45px 0 0;
	top: -3px;
}

.offer__title::after{
	content: url('../img/points/Rectangle\ 7right.png');
	position: relative;
	margin: 0 0 0 45px;
	top: -3px;
}

.offer__row {
	display: flex;
	font-weight: 700px;
	font-size: 24px;
	line-height: 140%;
	
}

.offer__row_first {
	border-width: 5px;
	border-bottom-width:5px;
	border-bottom-color:#018ABE;
	border-bottom-style: solid;
	
	
}

.offer__column_1 {
	position: relative;
	
}

.item-offer {
	
}

.item-offer__icon_first {
}

.item-offer__title_first {
	position: absolute;
	top: 0;
	padding: 456px 0 50px 50px;
}

.offer__row_second {
	margin: 0 0 0 24px;
	display: flex;
	flex-wrap: wrap;
	
}

.offer__column_2 {
	margin: 0 0 24px 0;
	position: relative;
}

.item-offer__icon_second {
}

.item-offer__title_second {
	position: absolute;
	padding: 0 0 0 40px;
	width: 336px;
	top: 0;
}



.offer__column_3 {
	margin: 0 0 24px 0;
	margin: 0 0 0 24px;
	position: relative;
}

.offer__column_4 {
	position: relative;
}

.offer__column_5 {
	margin: 0 0 0 24px;
	position: relative;
}
