/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
	background-color: #162831;
	color: white;
}

a{
	color: white;
}

.content {
	max-width: 1296px;
	margin: 0 auto;
}
.header {
	margin: 0 0 150px 0;
	
}
.header-top {
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 135%;
	white-space: nowrap;
}
.header-top__logo {
	padding: 25px 0;
}
.header__menu {
	text-align: center;
	margin: 50px 0 0 0;
}
.menu__list {
	display: flex;
	
}
.menu__list li a{
	margin: 0 25px;
}
.header-top__record {
	margin: 43px 0 0 0;
}
.header-top__record a{
	display: inline-block;
	background-color: #018ABE;
	height: 36px;
	border-radius: 3px;
	padding: 9px 15px;

}

.header-bottom {
	position: relative;
	width: 100%;
	height: 600px;
	display:flex;
	align-items: flex-start;
	justify-content: center;

}

.header-bottom_img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	object-fit: cover;
}

.title {
	z-index: 5;
	text-align: center;
	height: 100%;
	width: 600px;
	padding:15px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: "header"
	                    "title"
						"empty"
	;
	gap:10%;



}

.title__ad {
	font-size: 24px;
	grid-area: header;
	align-self: flex-end;

	
}

.title__ad:before {
	content: url('../img/points/LeftRectangle\ 3.png');
	margin: 0 65px 0 0;

}	

.title__ad:after {
	content: url('../img/points/RightRectangle\ 5.png');
	margin: 0 0 0 65px;
}

.title__main {
	font-size: 64px;
	line-height: 140%;
	grid-template-rows: titel;

	
}

.main {
	font-family: 'El Messiri', sans-serif;
}
.offer {
}
.offer__title {
	margin: 0 0 100px 0;
	text-align: center;
	font-weight: 700;
	font-size: 42px;
	line-height: 140%;
}
.offer__title::before{
	content: url('../img/points/Rectangle\ 6left.png');
	position: relative;
	margin: 0 45px 0 0;
	top: -3px;
}

.offer__title::after{
	content: url('../img/points/Rectangle\ 7right.png');
	position: relative;
	margin: 0 0 0 45px;
	top: -3px;
}

.offer__row {
	position: relative;
	font-weight: 700;
	font-size: 24px;
	line-height: 140%;
	height: 540px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "main pair full"
						"main preg photo";
	gap: 24px;
	margin: 0 0 90px 0;
}
.offer__column{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	padding:30px 40px;
	background: url("../img/offer/unsplash_TnOyyEtrKd2.png");
}
.offer__column_1 {
	background: url("../img/offer/unsplash_TnOyyEtrKd1.png");
	grid-area: main;
	padding: 50px;
	box-sizing: border-box;
	border-bottom: 7px solid #018ABE;
	border-radius: 7px;
}
.item-offer__title_first {
}
.offer__column_2 {
	grid-area: pair;

}
.item-offer__title_second {
}
.offer__column_3 {
	grid-area: full;
}

.offer__column_4 {
	grid-area: preg;
}

.offer__column_5 {
	grid-area: photo;
}


.feedback {
	margin: 0 -50px 200px -50px;
}

.feedback__title {
	margin: 0 0 100px 0;
	text-align: center;
	font-weight: 700;
	font-size: 42px;
	line-height: 140%;
}
.feedback__title::before {
	content: url('../img/points/Rectangle\ 6left.png');
	position: relative;
	margin: 0 45px 0 0;
	top: -3px;
}
.feedback__title::after {
	content: url('../img/points/Rectangle\ 7right.png');
	position: relative;
	margin: 0 0 0 45px;
	top: -3px;
}

.feedback__box {
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	line-height: 140%;
}
.box__content {
	background-color: #018ABE;
	max-width: 636px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 50px 60px;
	display: flex;
	flex-direction: column;
}
.box__name {
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 20px;
}
.box__description {
	font-weight: 300;
	font-size: 14px;
}





.about {
	max-width: 1076px;
	margin: 0 auto 150px auto;
	
}
.about__title {
	margin: 0 0 100px 0;
	text-align: center;
	font-weight: 700;
	font-size: 42px;
	line-height: 140%;
}
.about__title::before {
	content: url('../img/points/Rectangle\ 6left.png');
	position: relative;
	margin: 0 45px 0 0;
	top: -3px;
}
.about__title::after {
	content: url('../img/points/Rectangle\ 7right.png');
	position: relative;
	margin: 0 0 0 45px;
	top: -3px;
}

.about__container {
	display: flex;
	flex-wrap: wrap;
}

.container__card{
	display: flex;
	width: 1076px;
	justify-content: space-between;
	margin: 0 0 100px 0;
	
}

.container__card:last-child{
	margin: 0;
}

.container__text {
	max-width: 466px;
	line-height: 140%;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.text__common{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.text__title {
	font-weight: 700;
	font-size: 24px;
	margin: 0 0 30px 0;
	
	
}
.text__description {
	font-weight: 300;
	font-size: 16px;
}
.container_img {
	display: flex;
	justify-content: center;
	flex-direction: column;
}


.price {
	margin: 0 auto 160px auto;
	max-width: 1076px;
	line-height: 140%;
}
.price__title {
	white-space: nowrap;
	margin: 0 0 100px 0;
	text-align: center;
	font-weight: 700;
	font-size: 42px;
	line-height: 140%;
}
.price__title::before {
	content: url('../img/points/Rectangle\ 6left.png');
	position: relative;
	margin: 0 45px 0 0;
	top: -3px;
}
.price__title::after {
	content: url('../img/points/Rectangle\ 7right.png');
	position: relative;
	margin: 0 0 0 45px;
	top: -3px;
}


.price__main {
	display: flex;
	justify-content: space-between;
}
.price__main_list {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.table{
	box-sizing: border-box;
}

.table__service {
	font-family: 'Montserrat', sans-serif;
	font-weight: 450;
	font-size: 18px;
	padding: 15px 0;
	max-width: 350px;
}

.table__service::before{
	content: url('../img/points/little31.png');
	position: relative;
	margin: 0 20px 0 0;
	top: -2px;
}

.table__price {
	padding: 15px 0 15px 80px;
	font-weight: 700;
	font-size: 18px;
}	
	
.price__main_card {
	max-width: 526px;
}


.main__card_img {
	margin: 0 0 30px 0;
}
.main__card_text {
	text-align: center;
	font-weight: 700;
	font-size: 21px;
}




footer {
	font-family: 'Montserrat', sans-serif;
	line-height: 140%;
}

.contacts {
	display: flex;
	justify-content: space-between;
	height: 604px;
	margin: 0 0 80px 0;
}
.contacts__map {
}
.contacts__inform {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.inform__location {
	background-color: #018ABE;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	width: 392px;
	height: 290px;
	padding: 35px 45px;

}
.location__title {
	margin: 0 0 20px 0;
	font-family: 'El Messiri';
	font-weight: 700;
	font-size: 24px;
}
.location__list {
	margin: 0 0 30px 0;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 400;
	font-size: 14px;
	line-height: 135%;
}

.list__location {
}
.list__location::before {
	content: url('../img/map/carbon_location-filled.png');
	position: relative;
	margin: 0 20px 0 0;
	top: 3px;

}
.list__station {
}
.list__station::before {
	content: url('../img/map/Spb_metro_logo\ 1.png');
	position: relative;
	margin: 0 20px 0 0;
	top: 3px;

	
}
.list__record {
}
.list__record::before {
	content: url('../img/map/bi_calendar-week-fill.png');
	position: relative;
	margin: 0 20px 0 0;
	top: 3px;
}


.location_button a{
	display: inline-block;
	background-color: #fff;
	font-weight: 600;
	height: 36px;
	border-radius: 3px;
	padding: 9px 15px;
	font-weight: 600;
	font-size: 13px;
	line-height: 140%;
	color: #018ABE;

}

.footer__info {
	display: flex;
	justify-content: space-between;
	line-height: 135%;
}
.footer__info_left {
	font-weight: 400;
}
.footer__info_right {
	font-weight: 700;
}










