/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
	line-height: 1;
	color: #214E41;
}

._content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}


/*-----Шапка-------------------------------*/

.header {
	padding: 0 15px;
}

.header__container {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	min-height: 90px;
	align-items: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}



.header__logo {
	margin: 0 0 0 45px;
}

.header__menu {
	flex: 0 1 584px;
	margin: 0 20px;
}

.menu {
	
}

.menu__list {
	display: flex;
	justify-content: space-between;
}

.menu__item {

}

.menu__link {
	color: #214E41;
}



.header__button {
	margin: 0 77px 0 0;
	flex: 0 1 283px;
}

@media (max-width: 1160px){
	.header__logo {
		margin: 0 20px 0 25px;
	}
	.header__button {
		margin: 0 47px 0 20px;
	}
}

@media (max-width: 940px){
	.header__logo {
		margin: 0 20px 0 15px;
	}
	.header__button {
		margin: 0 27px 0 20px;
	}
	.header__container {
		font-size: 12px;
		min-height: 90px;
	}
}

@media (max-width: 800px){
	.header__logo {
		margin: 0 0 0 15px;
	}
	.header__button {
		margin: 0 15px 0 15px;
	}

}

@media (max-width: 800px){

	.header__container{
		justify-content: space-around;
		z-index: 11;
	}
	.header__menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 10%;
		left: -100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		background-color: #fff;
		transition: left 0.5s ease 0s;
		margin: 0;
	}
	.header__menu:target {

	}

	.menu__list{
		flex-direction: column;
		align-items: center;
	}
	.menu__link{
		font-size: 18px;
		line-height: 185%;
	}
}

.button__list {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 800px){
	.button__list {
		justify-content: flex-end;
	}
	.header__button{
		flex: 1 1 auto;
	}
	.button__item:not(:last-child) {
		margin: 0 20px 0 0;
	}
}

@media (max-width: 450px){}


.button__link {
	color: #214E41;
}

.reg {
	white-space: nowrap;
	background-color: #43806C;
	color: #fff;
	padding: 12px 14px;
	border-radius: 7px;
	transition: background-color 0.4s ease 0s;
}

.reg:hover {
	background-color: #2f574a;
}

.reg:active {
	position: relative;
	top: 1px;
}

.login{}

.lang {}

@media (max-width: 450px){
	.button__list {
		position: fixed;
		bottom: 0%;
		background-color: #fff;
		min-height: 60px;
		width: 100%;
		left: 0;
		justify-content: space-around;
		align-items: center;
		padding: 0 20px;
		z-index: 14;

	}
	.button__item:first-child{
		flex: 1 1 auto;

	}
	
}

/*----------------------------------*/

.menu__icon{
	display: none;
}

@media (max-width: 800px){
.menu__icon {
	position: relative;
	flex: 0 0 27px;
	height: 22px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 15px 0 0px;
	
}
.menu__icon::after,
.menu__icon::before {
	content: "";
	background-color: #214E41;
	height: 3px;
	border-radius: 15%;

}
.menu__icon span {
	height: 3px;
	background-color: #214E41;
	border-radius: 15%;
}
}

.none{
	left:0;
	overflow-y: hidden;
	z-index: 5000;
}

/*-----MAIN-------------------------------*/

.page {
}
.page__main-block {
}
.main-block {
	position: relative;
}
.main-block__container {
}
._content {
	
}
.main-block__body {
	position: relative;
	z-index: 9;
	padding: 251px 0 281px 0;
	font-weight: 700;
	max-width: 550px;
}
.main-block__title {
	margin: 0 0 40px 0;
	font-size: 36px;
	line-height: 128%;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

@media (max-width: 440px){
	.main-block__title {
		font-size: 30px;
	}
}

.main-block__text {
	margin: 0 0 16px 0;
	font-size: 16px;
	line-height: 150%;
	font-family: 'Raleway', sans-serif;
}
.main-block__form {
	position: relative;
}
.form__search {
	width: 280px;
	height: 60px;
	padding-left: 20px;
	border-radius: 5px 0 0 5px;
	font-size: 14px;
	line-height: 143%;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}
.form__button {
	position: absolute;
	width: 123px;
	height: 60px;
	border-radius: 0 5px 5px 0;
	font-size: 13px;
	line-height: 154%;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	background-color: #43806C;
	color: #fff;
	transition: background-color 0.4s ease 0s;
}

.form__button:hover {
	background-color: #2f574a;
}

@media (max-width: 440px){
	.form__search {
		width: 220px;
		height: 50px;
		font-size: 13px;
	}
	.form__button {
		width: 65px;
		height: 50px;
		font-size: 12px;
	}
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
._ibg {
}


/*----------------------------------------------------------------------------------*/

.page__offers {
	position: relative;
	z-index: 2;
	margin: -95px 0 100px 0;
}
.offers__container {
}
.offers__body {
	padding: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	background-color: #fff;
}

@media (max-width: 848px){
	.offers__body {
		padding: 30px;
	}
}

.offers__column {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 666px){
	.offers__column {
		display: flex;
		flex-direction: column;
	}
}

.offers__item {
	display: flex;
	font-weight: 400;
	color: #214E41;
}

.offers__item:not(:last-child){
	margin: 0 16px 0 0;
}

@media (max-width: 666px){
	.offers__item:not(:last-child){
		margin: 0 0 20px 0;
}
}

.item-offers__img{
	margin: 0 10px 0 0;
	
}
.item-offers__img img {
}

@media (max-width: 666px){
	.item-offers__img{
		flex: 0 0 80px;
		display: flex;
		align-items: flex-start;
		justify-content: center
	}
}

.item-offers__title {
	font-size: 16px;
	line-height: 150%;
	margin: 0 0 7px 0;
}
.item-offers__text {
	font-size: 14px;
	line-height: 143%;
}

@media (max-width: 848px){
	.item-offers__title {
		font-size: 15px;
	}
	.item-offers__text {
		font-size: 13px;
	}
	
}

.item-offers_last {
}

@media (max-width: 666px){
	.item-offers_last {	
	}
}

/*----------------------------------------------------------------------------------*/

.page__stats {
}
.stats__container {
}
.stats__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 60px;
}

@media (max-width: 846px){
	.stats__body {
		flex-direction: column;
		padding: 0;
	}
}

.stats__column {
	flex: 0 1 50%;
}

.stats__column:not(:last-child) {
	margin-right: 90px;
}

@media (max-width: 846px){
	.stats__column:not(:last-child){
		margin: 0 0 40px 0;
	}
}

.column-plan {
}
.column-plan__title {
	margin: 0 0 20px 0;
	font-weight: 400;
	font-size: 13px;
	line-height: 154%;
	letter-spacing: 0.05px;
	text-transform: uppercase;
	color: #43806C;
}
.column-plan__text-main {
	margin: 0 0 34px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 128%;
}

@media (max-width: 891px){
	.column-plan__text-main {
		font-size: 30px;
	}
}

.column-plan__text-descr {
	margin: 0 0 26px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 167%;
	letter-spacing: 0.02px;
	color: #757575;
}

.column-plan__link {
	max-width: 107px;
	text-align: center;
	border-bottom: 2px solid;
	border-color: #214E41;
}

.column-plan__link a {
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0.02px;
	color: #214E41;
	
}
.column-indicators {
}

.column-indicators__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.item-value {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 230px;
	padding-bottom: 35px;
}

.item-value:not(:last-child){
	margin-right: 25px;
}

.item-value__percent {
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 70px;
	line-height: 129%;
	font-family: 'Roboto', sans-serif;
}

@media (max-width: 400px){
	.item-value__percent{
		font-size: 55px;
	}
}

.item-value__text {
	font-weight: 700;
	font-size: 13px;
	line-height: 169%;
	letter-spacing: 0.02px;
}
.item-value__text span{
	text-decoration: underline;
}

/*-------------ИСПРАВИТЬ-КОД-(ПРОБЛЕМА-С-ПЕРЕНОСОМ)-------------*/

.item-chart {
	text-align: center;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.item-chart__column{
	max-width: 78px;
}
.item-chart__column:not(:last-child) {
	margin-right: 40px;
}

@media (max-width: 891px){
	.item-chart__column:not(:last-child) {
		margin-right: 30px;
	}
}

@media (max-width: 846px){
	.item-chart__column:not(:last-child) {
		margin-right: 40px;
	}
}

@media (max-width: 400px){
	.item-chart__column:not(:last-child) {
		margin-right: 30px;
	}
}

.item-chart__value {
	margin-bottom: 5px;
}
.item-chart__hight {
	margin-bottom: 20px;
	background-color: #43806C;
	width: 78px;
}
.leftside {
	height: 150px;
}
.item-chart__descr {
	font-weight: 700;
	font-size: 13px;
	line-height: 169%;
}

@media (max-width: 400px){
	.item-chart__descr {
		font-size: 10px;
	}	
}

.rightside {
	height: 300px;
}

@media (max-width: 400px){
	.item-chart__hight {
		width: 60px;
	}
}

/*-------------ИСПРАВИТЬ-КОД-(ПРОБЛЕМА-С-ПЕРЕНОСОМ)-------------*/

.column-indicators__descr {
	display: flex;
	flex-direction: row-reverse;
	color: #757575;
	font-weight: 400;
	font-size: 13px;
	line-height: 169%;
}



